<title>My application deployed automatically</title>
  <h1>Hello, World!<br>
     This program will return true if it finds any arithmetical combination of given numbers(form at the right) 
     in given list(form at the left).
	To explain it with an example;
	25      -    4 
	22	-    5
	15	-
	10	-
	2	-

	The numbers that the program will look for in the given list are;
	4
	5
	4-5
	5-4
	4+5
	4*5
	4/5
	5/4
	
</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
