<title>My application deployed automatically</title>
  <h1>Hello, World!<br></h1>
     This program will return true if it finds any arithmetical combination of given numbers(form at the right) 
     in given list(form at the left).<br>
	To explain it with an example;<br>
	Let Array1 be = {15,12,11,5,2,24} and num1 and num2(numbers from the right from) be {4,5} respectively.<br>

	The numbers that the program will look for in the given list(Array1) are;<br>
	4<br>
	5<br>
	4-5<br>
	5-4<br>
	4+5<br>
	4*5<br>
	4/5<br>
	5/4<br>
	

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
